[Desktop Entry]
Type=Application
Name=pytemplate_cli
Exec=pytemplate_cli
Comment=pytemplate_cli on Python {{ python-fullversion }}
Icon=pytemplate
Categories=System;
Terminal=true
