!define PRODUCT_NAME "{{ MAJOR_VERSION }}_{{ SUFFIX }}"
!define PRODUCT_VERSION "{{ MAJOR_VERSION_NUM }}.0"
!define PRODUCT_PUBLISHER "{{ ORG }}"
; PT:SERVICE
!define displayName "{{ MAJOR_VERSION }}"
!define serviceName "{{ MAJOR_VERSION }}"
; PT:SERVICE


;Require admin rights on NT6+ (When UAC is turned on)
RequestExecutionLevel admin

SetCompressor /SOLID lzma

Name "{{ MAJOR_VERSION }} {{ MINOR_VERSION }}"
OutFile "dist\${PRODUCT_NAME}-{{ MINOR_VERSION }}-win64-installer.exe"
InstallDir "$PROGRAMFILES64\{{ ORG }}\${PRODUCT_NAME}"

;--------------------------------
;Interface Settings
  !define MUI_ABORTWARNING
  !define MUI_LICENSEPAGE_CHECKBOX
  !define MUI_FINISHPAGE_RUN "$INSTDIR\program\${PRODUCT_NAME}.exe"
  !define MUI_STARTMENUPAGE_DEFAULTFOLDER "{{ MAJOR_VERSION }}"

!include MUI2.nsh
!include WinVer.nsh
!include x64.nsh

;--------------------------------
;Modern UI Configuration
;Installer pages
!insertmacro MUI_PAGE_WELCOME
!insertmacro MUI_PAGE_LICENSE "LICENSE"

!insertmacro MUI_PAGE_COMPONENTS
!insertmacro MUI_PAGE_DIRECTORY

!insertmacro MUI_PAGE_INSTFILES
!insertmacro MUI_PAGE_FINISH

;Uninstaller pages
!insertmacro MUI_UNPAGE_WELCOME
!insertmacro MUI_UNPAGE_CONFIRM
;!insertmacro MUI_UNPAGE_LICENSE textfile
;!insertmacro MUI_UNPAGE_COMPONENTS
!insertmacro MUI_UNPAGE_DIRECTORY
!insertmacro MUI_UNPAGE_INSTFILES
!insertmacro MUI_UNPAGE_FINISH

;--------------------------------
;Languages
  !insertmacro MUI_LANGUAGE "English"

Function .onInit
  ${IfNot} ${AtLeastWin10}
    MessageBox MB_OK "Windows 10 or later required, 64 bit only"
    Quit
  ${EndIf}
  ${IfNot} ${RunningX64}
    MessageBox MB_OK "64 bit Windows 10 or later required, 32 bit is not supported"
    Quit
  ${EndIf}
FunctionEnd

Section "Base Install" SEC01
    SectionIn RO
    SetOutPath $INSTDIR
    writeUninstaller "$INSTDIR\uninstall.exe"
    ; Delete the old program
    RMDir /r $INSTDIR\program
    ; Install the program
    CreateDirectory $INSTDIR\program
    SetOutPath $INSTDIR\program
    File /r "dist\${PRODUCT_NAME}\"
    File "files\icons\{{ MAJOR_VERSION }}.ico"
    ; Add to the "Add or remove programs" dialog
    WriteRegStr HKLM \
        "Software\Microsoft\Windows\CurrentVersion\Uninstall\${PRODUCT_NAME}" \
        "DisplayName" \
        "${PRODUCT_NAME}"
    WriteRegStr HKLM \
        "Software\Microsoft\Windows\CurrentVersion\Uninstall\${PRODUCT_NAME}" \
        "DisplayIcon" \
        "$\"$INSTDIR\program\files\icons\{{ MAJOR_VERSION }}.ico$\""
    WriteRegStr HKLM \
        "Software\Microsoft\Windows\CurrentVersion\Uninstall\${PRODUCT_NAME}" \
        "UninstallString" \
        "$\"$INSTDIR\uninstall.exe$\""
    ; PT:SERVICE
    ExecWait 'sc create ${serviceName} error= "severe" displayname= "${displayName}" type= "own" start= "auto" binpath= "$INSTDIR\program\${PRODUCT_NAME}.exe"'

    ; PT:SERVICE
SectionEnd

Section "Start Menu Shortcut" SEC02
    createShortCut \
      "$SMPROGRAMS\${PRODUCT_NAME}.lnk" \
      "$INSTDIR\program\${PRODUCT_NAME}.exe" \
      "" \
      "$INSTDIR\program\{{ MAJOR_VERSION }}.ico"
SectionEnd

Section "uninstall"
    RMDir /r $INSTDIR
    Delete "$SMPROGRAMS\${PRODUCT_NAME}.lnk"
    DeleteRegKey HKLM "Software\Microsoft\Windows\CurrentVersion\Uninstall\${PRODUCT_NAME}"
SectionEnd

