*.cover
*.egg-info
*.log
*.pyc
*.pyd
*.pyo
.*
/appimage/
/debian/
/htmlcov/
/macos/
/tools/
/venv/
/windows/
Dockerfile*
Makefile
TODO*
__pycache__
build/
coverage.xml
dist/
doc
env
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
