*.cover
*.egg-info
*.log
*.pyc
*.pyd
*.pyo
.Python
.cache
.coverage
.coverage.*
.eggs
.git
.hypothesis
.mypy_cache
.pytest_cache
.tox
debian
__pycache__
coverage.xml
env
htmlcov
macos
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
rpm.spec
venv
windows
