*.cover
*.egg-info
*.log
*.pyc
*.pyd
*.pyo
.Python
.cache
.coverage
.coverage.*
.eggs
.git
.hypothesis
.mypy_cache
.pytest_cache
.tox
/appimage/
/debian/
/htmlcov/
/macos/
/tools/
/venv/
/windows/
Dockerfile*
__pycache__
build/
coverage.xml
dist/
doc
env
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
