Package: python3-pytemplate
Version: 0.0.1
Architecture: all
Maintainer: TODO@example.org
Description: TODO
Build-Depends:
    debhelper, dh-python, python3-all, python3-setuptools, desktop-file-utils
Depends:
Recommends:

